.App {
	text-align: center;
}
.navhover a:hover {
	background-color: #0f1011;
}
.App-logo {
	height: 4vmin;
	pointer-events: none;
}
.navbar1 {
	margin-left: 200px;
}
.navbar22 {
	margin-left: 50px;
}
.navbar122 {
	background: linear-gradient(#0f1012, #2a2c27);
	/* padding-left: 25%; */
	/* padding-top: 1%; */
	text-align: center !important;
	/* margin-right: 1rem; */
	align-items: center;
}

.navbar123 {
	margin-left: 3%;
	color: whitesmoke !important;
	opacity: 0.8;
}
.c/* @media only screen and (max-width: 395px) {
  .navbar122{
    margin-left: -15%;
    flex-wrap: nowrap;
  }
} */ard123 {
	text-align: left !important;
}
.cardtitle {
	font-weight: 900 !important;
	font-size: 30px !important;
}
.cardsubtitle {
	background: -webkit-linear-gradient(45deg, #ff7eb3, #667eea);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700 !important;
	font-size: 50px !important;
}
.cardtitle144 {
	background: -webkit-linear-gradient(45deg, #4356aa, #89f7fe);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700 !important;
	font-size: 6rem;
	/* word-spacing: 2% !important; */
	letter-spacing: 4px !important;
}
.button155 {
	background: -webkit-linear-gradient(45deg, #b147db, #4eb2da);
	border-radius: 50px !important;
	width: 30% !important;
	font-size: 20px !important;
	height: 70px !important;
}
#button {
	margin-left: 20%;
	color: #7fdde9;
	background-color: none;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bolder;
}
.card55 {
	background: linear-gradient(90deg, #241d40 0%, #1c2946 100%);
	box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18) !important;

	/* padding-top: 1.4rem; */
}
.card55:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.3);
}
.Nft1 {
	display: flex;
	justify-content: space-between;
	padding: 3%;
	background: -webkit-linear-gradient(45deg, #6a3d61, #44497f);
	border-radius: 10px;
	/* -webkit-background-clip:text;
  -webkit-text-fill-color: transparent; */
}
.Nft12 {
	display: flex !important;
	justify-content: space-evenly !important;
	padding: 7%;
}
.nft11 {
	/* margin-top: 4rem !important; */
	color: #84bdc4;
	font-size: 1.3rem;
	padding: 15%;
}
.potatohead1 {
	/* position: absolute; */
	/* z-index: 20 !important; */
	margin-top: -200% !important;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #0f0f23;
	min-height: 5vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.App-footer {
	background-color: #282c34;
	min-height: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-card2 {
	background-color: #282c34;
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}
.text-bold {
	font-size: "20rem";
}
.App-card {
	background-color: #282c34;
	flex: auto;
	position: relative;
	margin-right: 19px;
}
.App-card1 {
	background-color: #0f0f23;
	flex: auto;
	position: relative;
}
.App-header1 {
	background-color: #0f0f23;
	/* min-height: 20vh; */
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
	/* font-size: calc(10px + 2vmin); */
	color: white;
}
.col {
	margin-block: 5px;
	margin-top: 10px;
}

.col1 {
	margin-block: 5px;
	margin-top: 10px;
}
.btn {
	margin-right: 2%;
	margin-left: 50px;
}
.container {
	margin-block: 50px;
	max-width: 2045;
}
.row {
	flex: auto;
	margin-left: auto;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* @media only screen and (max-width: 395px) {
    .devilpotatocard{
      width: 20rem !important;
      height: 16rem !important;
      margin-top: 26% !important;
    }
    .potatohead1{
      width: 41vw !important;
      height: 52vw !important;
      margin-left: 11rem !important;
    }
  }
  @media only screen and (max-width: 395px) {
    .card123{
      padding:unset !important;
    }
  }
  @media only screen and (max-width:395px) {
    .button155{
    width: 67% !important;
}
  } */
@media only screen and (max-width: 725px) {
	/* .Nft12{
      flex-direction: column;
      padding: 5% !important;
    }
    .navbar122{
      flex-direction: column;
    } */
	.card155 {
		width: 27rem !important;
	}
	.button155 {
		width: 67% !important;
	}
	.card123 {
		padding: unset !important;
	}
	.devilpotatocard {
		width: 20rem !important;
		height: 16rem !important;
		margin-top: 26% !important;
	}
	.potatohead1 {
		width: 41vw !important;
		height: 52vw !important;
		margin-left: 11rem !important;
	}
	#card555 {
		margin-left: 17% !important;
	}
}
@media only screen and (max-width: 475px) {
	.Nft12 {
		flex-direction: column;
		padding: 5% !important;
	}
	.navbar1 {
		margin-left: 10px;
	}
	.navbar22 {
		margin-left: 10px;
	}
	.navbar122 {
		flex-direction: column;
	}
	.card155 {
		width: 20rem !important;
	}
	.button {
		margin-right: 55px !important;
	}
	.button155 {
		width: 67% !important;
	}
	.card123 {
		padding: unset !important;
	}
	.devilpotatocard {
		width: 20rem !important;
		height: 16rem !important;
		margin-top: 26% !important;
	}
	.potatohead1 {
		width: 34vw !important;
		height: 48vw !important;
		margin-left: 11rem !important;
	}
}
